*{
    background-color: powderblue;
    width: 0%;
    height: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black ;
}
div .container{
    margin: 1%;
}
.navbar{
    display: flex;
    jus
}